/target
**/target
**/*.rs.bk
.idea
.vscode
/.env
/.DS_Store
apps/scryer-web/dist
apps/scryer-web/node_modules
apps/scryer-web/package
/package-lock.json
crates/scryer/ui
tmp
.claude
*.pem
*.sqlite
*.sqlite-*
*.db
*.db-*
crates/scryer/dev-seed.toml
crates/scryer/dev-seed-titles.toml
